html {
    font-family: Fraunces;
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFFCF8;
}

/* ANIMATIONS ANIMATIONS*/

.arrow {
    animation: subtleMove 2s alternate-reverse infinite ease-in-out;
}

@keyframes subtleMove {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(25px);
    }
}

h1, h2, h3, p, .learnmore {
    animation: fadeInUp 2s forwards;
    opacity: 0;
}

@keyframes fadeInUp {
    from {
        transform: translateY(30px);
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

/*  FONTS MOBILE FONTS MOBILE FONTS MOBILE */

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.8rem;
}

.grey-text {
    color: #5B636D;
}

a {
    font-family: Barlow;
    font-size: 1.5rem;
}

p {
    font-family: Barlow;
    font-size: 1.8rem;
}

.hide-mobile {
    display: none;

}

.learnmore {
    font-family: Fraunces;
    color: #24303E;
    font-size: 1.8rem;
    text-decoration: none;
    margin-top: 2em;
    position: relative; /* make the parent element position: relative */
}
  
.learnmore::after {
    content: "";
    position: absolute;
    left: -5px;
    right: -5px; /* adjust the value to extend to the right of the text */
    bottom: -5px; /* adjust the value to control the overlap */
    width: auto;
    height: 13px;
    background: #FEF2BA;
    border-radius: 28px;
    background-size: 1em;
    z-index: -1; /* set the z-index to move it behind the text */
}

.learnmore:hover::after {
    background: #FAD400;
}

/* HEADER HEADER HEADER HEADER HEADER  */



header {
    background-color: #4ABDF2;
}

.wrapper {
    padding: 1.6em;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero {
    height: 60vh; /* set the hero section height to be the remaining viewport height after the header height is subtracted */
    background-image: url(assets/orange-sun.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    color: white;
    text-align: center;
}

.hero h1 {
    margin-top: 2.5em;
    padding: 0 1.6em;
}

/* FIRST SECTION FIRST SECTION */

.transform {
    display: flex;
    flex-direction: column-reverse;
}

.photo {
    background-image: url(assets/egg.png);
    height: 30em;
    width: 100%;
    background-size: cover;
}

.photo2 {
    background-image: url(assets/cup.png);
    height: 30em;
    width: 100%;
    background-size: cover;
}

.caption {
    height: 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 3em;
}



/* SERVICES SERVICES SERVICES SERVICES */

.design, .photography {
    background-size: 170%;
    background-position: center;
    background-repeat: no-repeat;
    width: auto;
    text-align: center;
    padding: 3em 1.6em;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.design {
    background-image: url(assets/fruit.png);
    height: 40em; /* adjust the height for mobile screens */
}

.photography {
    background-image: url(assets/mandarine.png);
    height: 40em; /* adjust the height for mobile screens */
}

.design h3 {
    margin: .4em;
}

/* TESTIMONIALS TESTIMONIALS TESTIMONIALS*/

.testimonials-title {
    color: #A7AAAD;
    font-size: 1.6rem;
    margin-bottom: 4em;
    text-align: center;
}

.author-name {
    font-size: 1.8rem;
    margin: 0;
    line-height: 0;
    margin-top: 2em;
}

.author-profession {
    color: #A7AAAD;
}

.testimonials {
    text-align: center;
    padding: 6em 2.4em;
}

.user-testimonials img {
    width: 7.2em;
    margin-bottom: 2em;
}

.user-testimonials {
    display: flex;
    flex-direction: column;
    gap: 6.2em;
}

/* PROJECTS PROJECTS PROJECTS PROJECTS */

.projects {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.projects img {
    width: 100%;
}

/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER*/

.logo-footer {
    text-align: center;
}

.social-media {
    display: flex;
    flex-direction: row;
    gap: 2.8em;
    align-self: center;
    margin-top: 4em;
}

footer {
    background-color: #90D4C6;
    height: 30em;
    display: flex;
    flex-direction: column;
    padding-top: 8em;
}

.footer-nav {
    font-family: Barlow;
    font-size: 1.8rem;
    list-style-type: none;
    color: #458D7E;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin-top: 3em;
}


/* DESKTOP DESKTOP DESKTOP DESKTOP */

@media screen and (min-width:900px) {

    
    .hide-desktop {
        display: none;
    }

    .hide-mobile {
        display: block;
    }

    /* TYPOGRAPHY TYPOGRAPHY */

    h1 {
        font-size: 5.6rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.8rem;
    }

    /* header header header*/

    .wrapper nav ul {
        font-family: Barlow;
        font-size: 1.8rem;
        color: white;
        display: flex;
        flex-direction: row;
        gap: 4.7em;
        align-items: center;
        list-style-type: none;
    }

    .contact-btn {
        padding: 1.6em 3.2em;
        border-radius: 2.8em;
        border: none;
        color: #24303E;
        background-color: white;
        font-size: 1.5rem;
        font-family: Fraunces;
        line-height: 0;
        cursor: pointer;
    }

    .contact-btn:hover {
        background-color: #78CEF5;
        color: white;
    }

    .wrapper {
        max-width: 1400px;
        margin: 0 auto;
    }

    /* HERO SECTION HERO SECTION */

    .hero {
        height: 70vh;
    }


     /* CONTECT CONTENT CONTENT CONTENT */

     .transform, .stand {
        height: 50vh;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
     }

    .caption {
        height: 100%;
        width: 100%;
        padding: 0;
        display: flex;
        justify-content: center;
    }   

    .wrapper2 {
        width: 100%;
        height: auto;
        align-items: center;
        text-align: left;
        padding: 3em;
        max-width: 45em;
        justify-content: center;
    }

    .wrapper2 p {
        margin-bottom: 4em;
    }

     .photo, .photo2 {
        height: 100%;
        background-position: center;
     }

     /* SERVICES SERVICES SERVICES SERVICES SERVICES*/

     .services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        align-items: stretch;
        min-height: 50vh;
        height: auto;
      }
      
      .design, .photography {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50vh;
    }
      
      
      .design p, .photography p {
        max-width: 25em;
        align-self: center;
      }

    /* TESTIMONIALS TESTIMONIALS TESTIMONIALS */

    .user-testimonials {
        flex-direction: row;
        max-width: 1350px;
        margin: 15em auto 10em auto;
    }


    .projects {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
 

    .footer-nav {
        max-width: 700px;
        margin: 3em auto;
        gap: 3.2em;
    }
}




